#content {
    background: url(../img/herobg.png) no-repeat;
    background-size: initial;
    background-position: center top;
}
#hero {
    .hero_caption {
		color: @hero-color;
		padding: 89px 15px;

		text-shadow: 0px 1px 0px #fff;
    }
    .boy {
		position: absolute;
	    bottom: 0px;
	    right: 0px;
	    height: 100%;
	    padding: 55px 0 0 0;
    }
    h1 {
    	padding-bottom: 15px;
    	line-height: 70px;
    	margin: 6px 0 0 0;
    }
    p {
    	width: 300px;
    }
}
#page {
	background: white;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.20);
	h2, h3 {
		margin-top: 30px;
	}
	h2 > span, h3 > span {
		.pigment
	}
}